body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b0c69;
    background-image: url('109220182_p0.png');
    background-size: cover;
    background-position: center; /* Asegura que la imagen esté centrada */
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Arial";
    text-shadow: 1px 1px 1px black;
}

.converter {
    max-width: 400px; /* Puede ser ajustado para adaptarse a diferentes tamaños de pantalla */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(208, 211, 214, 0.5);
    display: flex;
    flex-direction: column; /* Utiliza Flexbox para estructura flexible */
    align-items: center;
}

label, select, input, button {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%; /* Mantener ancho completo */
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%; /* Ancho completo para asegurar compatibilidad con móviles */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    .converter {
        padding: 10px; /* Reducir padding en dispositivos pequeños */
        max-width: 100%; /* Ancho completo para pantallas pequeñas */
    }

    label, select, input, button {
        font-size: 14px; /* Disminuir tamaño de fuente */
    }

    input[type="number"] {
        padding: 6px; /* Reducir padding para dispositivos pequeños */
    }
}

/* Estilos para dispositivos con un ancho mínimo de 768px y un máximo de 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .converter {
        padding: 15px; /* Ajustar padding para dispositivos medianos */
        max-width: 600px; /* Ajustar ancho para dispositivos medianos */
    }
}

/* Estilos para dispositivos con un ancho mínimo de 1024px */
@media screen and (min-width: 1024px) {
    .converter {
        padding: 20px; /* Ajustar padding para dispositivos grandes */
        max-width: 800px; /* Mayor ancho para pantallas más grandes */
    }
}
